@import 'links';
@import '../global/text';
@import '../global/color';
@import '../global/flex';
@import '../global/font';
@import 'responsive';
@import '../global/reset';

/*-------------------scss----------------------------------*/

body{
	background-color: white;
	color: black;
}

.icon{
	width: 5em;
	
	
}

.category{
	background-color: #61ab8a;
}

.top{
	background-color:#acc0b7;
}

button{
	background-color: #61ab8a;
	padding: 0;
	border: none;
	color:white;
	
}
button:hover{
		color:green;
	}
 

.footer{
	color:white;
	background-color: #313131;
}

