@import 'links';
@import '../global/text';
@import '../global/color';
@import '../global/flex';
@import '../global/font';
@import 'responsive';
@import '../global/reset';

/*-------------------scss----------------------------------*/

body{
	background-color: white;
	color: black;
}

.icon{
	width: 5em;
	
}
.cart{
	
}

.counter{
	background-color:#204734;
	color:white;
}

.category{
	background-color: #61ab8a;
}

.top{
	background-color:#acc0b7;
}

.manufacturer{
	padding: 0rem 0rem 0.5rem 0rem;
}

.includedItem{
	padding: 0rem 0rem 11rem 0em;
}

.price{
	padding: 0rem 0rem 0.5rem 0rem;
}

button{
	background-color: #61ab8a;
	padding: 0;
	border: none;
	color:white;
	
}
button:hover{
		color:#204734;	
	}
	
.btnShop {
	background: #50846d;
	padding: 1rem 3rem 1rem 3rem;
}	

.subbtn{
	background-color:#50846d ;
	padding: 0;
	border: none;
	color:white;
	padding :0.5rem 5rem;
}
 

.footer{
	color:white;
	background-color: #313131;
}

.sub-box{
	width: 25rem;
	padding :5px;
}


